<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm a designer &amp; developer living in Italy.</p>
    <p>You can find me speaking on <a href = "mailto:staff@fabiosoft.com">email</a>, and sharing some code on <a href="https://bitbucket.org/fabiosoft/" target="_blank">Bitbucket</a>.</p>
    <p>Esperienza nella progettazione e sviluppo di <b>Applicazioni mobili</b>. Integro le conoscenze acquisite in ambito accademico con un continuo studio di nuove tecnologie che mi permettano di creare applicazioni sempre più affidabili sicure ed efficienti. Capacità di lavorare in gruppo e ottima conoscenza di sistemi iOS. Buon intuito e abilità nel <b>trovare soluzioni</b> ideali ai problemi risultanti dalle specifiche dei progetti.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <% @projects.each do |project| %>
        <h3><a href="#"><%= link_to project.title, project %></a></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
</div>