<%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= f.label :title %><br>
    <%= f.text_field :title %>

    <br>
    <br>

    <%= f.label :content, "Describe your project here" %><br>
    <%= f.text_area :content %>

    <br>
    <br>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
