<h1 id="page_title">Edit Post</h1>

<div class="skinny_wrapper wrapper_padding">
  <%= render 'form' %>
  <% # if user_signed_in? %>
  <div id="admin_links">
    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', posts_path %>
  </div>
  <% #end %>
</div>