<!DOCTYPE html>
<html>
<head>
  <title>Fabio Nisci - Part Designer, Part Developer</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="main_navigation" class="clearfix">
    <%= link_to "Home", root_path, class: "name" %>
    <nav>
      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%#= link_to "Contact", new_contact_path %>
      <% # if user_signed_in? %>
          <%#= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% # end %>
    </nav>
  </header>

  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% elsif alert %>
      <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer id="main_footer">
    <p class="copyright">&copy;2015 Fabio Nisci</p>
    <nav>
      <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://bitbucket.org/fabiosoft/" target="_blank"><i class="fa fa-bitbucket"></i></a>
    </nav>
  </footer>

</body>
</html>
